@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Rubik:wght@300;400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(145, 144, 144, 0.1);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::placeholder {
	color: rgba(68, 67, 67, 0.3);
}

.input-area {
	display: block;
	width: 95%;
	line-height: 44px;
	max-width: 1050px;
	height: calc(100vh - 580px);
	min-height: 10px;
	margin: 30px auto;
	padding: 20px;
	letter-spacing: 1.5px;
	/* resize: none; */
	resize: vertical;
	font-family: "Rubik", sans-serif;
	font-size: 1.75rem;
	border: none;
	border-radius: 15px;
	outline: none;
	border-radius: 4px;
	background: #eeeded;
	box-shadow: 5px 5px 10px #bcbcbc, -5px -5px 10px #ffffff;
}

.keyboard {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 95%;
	max-width: 1050px;
	padding: 10px;
	border-radius: 10px;
	background: #e6e6e6;
	background-color: #f3f7fc;
	background-image: linear-gradient(145deg, rgb(204, 204, 204) 0%, rgb(235, 234, 234) 45%, rgb(170, 170, 170) 100%);
	box-shadow: 4px 4px 6px #7c7c7c, -5px -5px 10px #ffffff;
}

.keyboard__row {
	display: flex;
	column-gap: 9px;
}

.keyboard__key {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	min-width: 6%;
	height: 50px;
	font-size: 18px;

	border: none;
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
	border-radius: 4px;

	/* black keys */
	color: rgb(255, 255, 255);
	background: rgb(3, 3, 3) radial-gradient(circle at 0 0, rgba(0, 0, 0, 0.75), rgba(98, 93, 107, 0.753));
	box-shadow: inset rgba(0, 0, 0, 0.75) -1px -1px 2px, inset rgba(255, 255, 255) 1px 1px 2px,
		rgba(0, 0, 0, 0.8) 1px 1px 2px -1px;
	transition: all 0.2s ease;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	user-select: none;
	outline: none;
}

.keyboard__key:active {
	transform: scale(0.95);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.keyboard__key:hover {
	color: black;
	background: rgb(255, 153, 1);
	box-shadow: inset rgba(88, 88, 88, 0.75) -2px -2px 3px, inset rgba(255, 255, 255) 1px 1px 2px,
		rgba(224, 223, 223, 0.8) 1px 1px 2px -1px;
	outline: none;
}

.keyboard__key_pressed {
	color: black;
	background: rgb(255, 153, 1);
	box-shadow: inset rgba(88, 88, 88, 0.75) -2px -2px 3px, inset rgba(255, 255, 255) 1px 1px 2px,
		rgba(224, 223, 223, 0.8) 1px 1px 2px -1px;
	outline: none;
	transform: scale(0.95);
}

.keyboard__key_double {
	justify-content: space-around;
}

.keyboard__key_double .disable {
	color: rgb(48, 47, 47);
	visibility: hidden;
}

.keyboard__key_wide {
	flex-grow: 1;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: rgb(84, 84, 84);
	text-align: center;
	font-family: "Rubik", sans-serif;
	margin-bottom: 25px;
	text-transform: uppercase;
	justify-content: center;
	letter-spacing: 1px;
	font-size: 1.07rem;
	font-weight: 300;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

@media screen and (max-width: 768px) {
	.input-area {
		width: 95%;
		margin: auto 10px;
		margin-bottom: 20px;
		margin-top: 50px;
		font-size: 1.5rem;
		line-height: 32px;
	}

	.keyboard {
		width: 95%;
		row-gap: 4px;
		padding: 8px;
	}

	.keyboard__row {
		column-gap: 4px;
	}

	.keyboard__key {
		font-size: 10px;
		height: 24px;
	}

	.footer {
		width: 95%;
		margin: auto 10px;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 20px;
	}

	.material-icons {
		font-size: 12px;
	}
}
